@charset "UTF-8";


#background{
    position: fixed;
    inset: 0; /*é efetivamente uma abreviação para as propriedades de posicionamento top , right , bottom , left*/
    z-index: -1;
    width: 100%;
    height: 100vh;
}

#background video{
    width: 100%;
    height: 100%;
    object-fit: cover; /*essa tag não deixa o video esticar mais que o necessrio, deixa o corte correto*/
}

#background ::after{
        content: ""; /*Ele é usado para inserir conteúdo gerado automaticamente antes ou depois de um elemento*/
    
        width: inherit; /* ganha largura  do elemento pai*/
        height: inherit;  /* ganha altura do elemento pai*/
        position: fixed;
        inset: 0;
        background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);

 }